<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <!-- 
  Mapper에서 파라미터를 처리하는 두번째 방법으로
  전달되는 순서대로 index 사용
  0부터 시작
   -->
  <mapper namespace="mybatis.MybatisMemberImpl">
  
  	<select id="login" resultType="mybatis.MemberVO">
  		SELECT * FROM member WHERE id=#{0} and pass=#{1}
  	</select>
  
  </mapper>